language: elixir
cache:
  directories:
    - deps
    - _build
services:
  - docker
  - postgresql
addons:
  postgresql: "9.5"
elixir:
  - 1.4.2
otp_release:
  - 19.3
env:
  global:
    - MIX_ENV=test
    - DOCKER_HUB_ACCOUNT=nebo15
    - MAIN_BRANCHES="master develop staging" # Branches on which you want version to be incremented
    - RELEASE_BRANCH="master"
    # Docker credentials
    - secure: "Rcm+l5betUxcK/E8p463QFbpZyd/HgOitbmvYgiu6Dg4s27zYPIU7+IlB5nen/irAIuaDr38cHRQ66uUy+O6ggwNEb+Fiq0oGw0PlZtPcAaDWcrBN9TzKWf7w8M98TLE0uMeCprh6/J2x/2ssTDqo9scVzr5yUlSXJ7irpW9gXlnZP43tZuCpIMxTPjZ3m4K5XnLecuD6MjZfhdlz1/JzcWC5N/G2PoJSjDpcwd5GzQd9Vik4pjjKCzLb1EOX8jD9jD+v7HuqHTGd0050jJrjsGt1KtFEAruC/9L+XQHbTtR1aty6xAapm8Gs6a5XfdBpWpTu4q7Yi+7JULF+Dx9b5GcVwVnAq9Az4Y0BtfGBUApTjgALZbqjHGMo+hY1wEaNBdiu14Km31FpLkVjAln8iRPE4OxW5c0D1hjJzlPjRC9ns6uKUE+HhlSYxCLmAeTib61WUWk/PcmQMzWqdzG6551Njh1qoypySNGzj7IvozAkiF7KeU5/mxzafYKRpE+APkMacAkNL20sO1edsPOEnN8LuGTxMVPhmbVLHsLkyYbmXVHlQTEV6/vI9hP5ZmcaKfYSvRUZZzyphSOsvIMWVxn2TXYsIMzgBk+S6c8v2YlQFIQpAMxGyTaz0W8fo6F42AC0tWpdflQhJAjoUGxAZO9gpB7O1J3GNyf/83zc/w="
    - secure: "r8yEB5k5nQ8OS/gc0XBBI7asOHCrMPwhRdIpWsbyoiZcYMAs1i/cJQuEkf5KZwGu9e1wn89vvNUKP4YR4i+hAmMY/qL8Ye3jZduYTwbiv0bohlO+DjaUcKAsf6ieCWMIbsv2YdvIFLnj3p0CGosYaDApn61vd6fxbPI9OEB2mso4CgAI0co0T7m9HbZJ6qSVYhKjcovy4AmsMn9nchKage6X8o/bJjktGEZhJg9zh7t9iRW60mqxHDEB4qZ1JUGb99pcRnk1kMibwc7jJlW35/6v3hYGoNaa9KFJKKbKtIl93/RQqVgluXoCNz67rLcGUKqQxxnZxRMAC3kwUwZNd7Bavx+7eJd1MnaL0O+q+7Cdi88z1Tn/HPB5GLj9Qw6ZIEbFbjgc2pYt+M4uVbPBfiG3yXlQAV9YRFoMLqvZ3AvYwlcFi1rEQLW6IYqlttg4RoSdn59WJ1iO009BzbKOawX1dNyKf366x1PB57RJDlK6JXhx1H4T0r1rITvzATWPR16ddDJSJM8ttjCJVO3lQ81zHfSVP/xoG7CeJ4aNn2s6PwjmE51uxDpR8pvoh/h9cIHlfFamYvVQRJTEhqvBMnigkmLT51FvXbyT5lBLCZCPGbIqzikAFP45R0ipRvMu71Ik96FGBmgrrskXOmoAWs++vMACK3ASNtEHMsEDzcM="
branches:
  # Releases are generated automatically, stop infinite build loop
  except:
    - /[0-9]*\.[0-9]*\.[0-9]*/
before_install:
  # Expose DB to Docker container
  - sudo /bin/bash ./bin/ci/init-db.sh
before_script:
  - epmd -daemon
script:
  # Increment version in mix.exs
  - ./bin/ci/version-increment.sh
  # Install dependencies
  # - mix deps.get
  # Run all tests except pending ones
  - mix test --exclude pending --trace
  # Submit code coverage report to Coveralls
  - mix coveralls.travis --exclude pending
  # Run static code analysis
  - mix credo -a
  # Check code style
  - mix dogma
  # Build Docker container
  - ./bin/build.sh
  # Initialize DB for Docker container
  - source .env; PGPASSWORD="${DB_PASSWORD}"; psql -U ${DB_USER} -w -c"CREATE DATABASE ${DB_NAME}"
  # Run Docker container
  - sudo ./bin/start.sh
  - sleep 5
  - docker ps
  - RUNNING_CONTAINERS=`docker ps | wc -l`;
    if [ "${RUNNING_CONTAINERS//[[:space:]]/}" == "1" ]; then
      echo "[E] Container is not started\!";
      docker logs annon_api --details --since 5h;
      exit 1;
    fi;
  # Run acceptance tests on Docker container
  - ./bin/ci/sanity-test.sh
  # Rebuild docs
  - "mix docs --output docs"
after_failure:
  - docker logs annon_api --details --since 5h
after_success:
  # Submit Docker container to Docker Hub and create GitHub Release by pushing tag with changelog
  - ./bin/ci/push.sh
